@keyframes sliding {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100%);
  }
}

ul {
  display: flex;
}
li {
  list-style-type: none;
  margin-right: 20px;
}

div {
  animation: 35s sliding infinite linear;
}
